<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Course Evaluation</title>
  </head>
  <body>
    <div class="d-grid gap-2 col-3 mx-auto">
      <img src="img/index_logo.png" alt="index_logo" />
      <h1 class="align-middle">Course Evaluation</h1>
      <a class="btn btn-primary btn-lg" href="/signup" role="button"
        >Sign Up as Student</a
      >
      <a class="btn btn-primary btn-lg" href="/signin" role="button"
        >Sign In as Student</a
      >
      <a class="btn btn-primary btn-lg" href="/students" role="button"
        >Display all Students</a
      >
      <a class="btn btn-primary btn-lg" href="/display_comments" role="button"
        >Display all Comments by Students</a
      >
    </div>
  </body>
</html>
