<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/display.css" />
    <title>Fill the survey</title>
  </head>
  <body>
    <form method="post" action="/submit_comment">
      <div class="ui two column centered grid">
        <div class="ui form">
          <h1>Please complete the rest of the fields</h1>
          <div class="ui grid">
            <div class="four wide column">
              <label>Course Code: </label>
            </div>
            <div class="twelve wide column">
              <input
                type="text"
                size="30"
                placeholder="Enter your Course Code"
                name="courseCode"
              />
            </div>
          </div>
          <div class="ui grid">
            <div class="four wide column">
              <label>Course Name: </label>
            </div>
            <div class="twelve wide column">
              <input
                type="text"
                size="30"
                placeholder="Enter your Course Name"
                name="courseName"
              />
            </div>
          </div>
          <div class="ui grid">
            <div class="four wide column">
              <label>Program: </label>
            </div>
            <div class="twelve wide column">
              <input
                type="text"
                size="30"
                placeholder="Enter your program"
                name="program"
              />
            </div>
          </div>
          <div class="ui grid">
            <div class="four wide column">
              <label>Semester: </label>
            </div>
            <div class="twelve wide column">
              <input
                type="text"
                size="30"
                placeholder="Enter your Semester"
                name="semester"
              />
            </div>
          </div>

          <div class="ui grid">
            <div class="four wide column">
              <label>Your Comments: </label>
            </div>
            <div class="twelve wide column">
              <textarea name="comment"></textarea>
            </div>
          </div>
          <br /><button class="ui primary button">Submit</button>
        </div>
      </div>
    </form>
  </body>
</html>
